
[gcode_macro Rotation_Distance_X]
gcode:
  # Rotation = ((valeur slicer x Rotation actuelle) / Valeur Reelle)
  # Calcul de la rotation de distance
  {% set Valeur_Slicer = params.VALEUR_SLICER|default(120)|float %}
  {% set Rotation_Actuelle = params.ROTATION_ACTUELLE|default(40)|float %}
  {% set Valeur_Reelle = params.VALEUR_REELLE|default(100)|float %}
  # Affichage des valeurs des variables pour débogage
  - M117 "Valeur_Slicer= { Valeur_Slicer } | Rotation_Actuelle= { Rotation_Actuelle } | Valeur_Reelle= { Valeur_Reelle }"
  {% set Rotation_Distance = (Valeur_Reelle * Rotation_Actuelle) / Valeur_Slicer %}
  # {% set Rotation_Distance = (Valeur_Slicer * Rotation_Actuelle) / Valeur_Reelle %}
  # Affichage du résultat pour débogage
  - M117 "Rotation_Distance= { Rotation_Distance }"
  - Nouvelle_Rotation_Distance= { '%.2f' % Rotation_Distance }
 