#        ___           ___           ___           ___           ___           ___                    ___     
#       /\__\         /\  \         /\  \         /\  \         /\__\         /\  \                  /\  \    
#      /::|  |       /::\  \        \:\  \       /::\  \       /:/  /        /::\  \                /::\  \   
#     /:|:|  |      /:/\:\  \        \:\  \     /:/\:\  \     /:/  /        /:/\:\  \              /:/\:\  \  
#    /:/|:|__|__   /:/  \:\  \       /::\  \   /::\~\:\  \   /:/  /  ___   /::\~\:\  \            /::\~\:\  \ 
#   /:/ |::::\__\ /:/__/ \:\__\     /:/\:\__\ /:/\:\ \:\__\ /:/__/  /\__\ /:/\:\ \:\__\          /:/\:\ \:\__\
#   \/__/~~/:/  / \:\  \ /:/  /    /:/  \/__/ \:\~\:\ \/__/ \:\  \ /:/  / \/_|::\/:/  /          \:\~\:\ \/__/
#         /:/  /   \:\  /:/  /    /:/  /       \:\ \:\__\    \:\  /:/  /     |:|::/  /            \:\ \:\__\  
#        /:/  /     \:\/:/  /     \/__/         \:\ \/__/     \:\/:/  /      |:|\/__/              \:\ \/__/  
#       /:/  /       \::/  /                     \:\__\        \::/  /       |:|  |                 \:\__\    
#       \/__/         \/__/                       \/__/         \/__/         \|__|                  \/__/    

[extruder]
#sb2040:

step_pin: SB2040:EXT_STEP
dir_pin: !SB2040:EXT_DIR
enable_pin: !SB2040:EXT_EN
heater_pin: SB2040:HE0
sensor_pin: SB2040:TH0
sensor_type: ATC Semitec 104GT-2 #EPCOS 100K B57560G104F
min_temp: 0
max_temp: 275
min_extrude_temp: 160
pullup_resistor: 4700
microsteps: 16 
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
#gear_ratio: 50:10 
#max_extrude_only_distance: 1000.0
#max_extrude_only_velocity: 50.0
#max_extrude_only_accel: 1500

# ERCF:
max_extrude_only_distance: 200 # paramètre ERCF
max_extrude_cross_section: 50 #5 #50 pour paramètre ERCF

######################################################################
# Valeur a modifier en fonction des Stepps 
# Rotation = ((valeur Reelle x Rotation actuelle) / Valeur slicer )

rotation_distance: 4.41 
######################################################################

# Calcul PA = hauteur correct X 0.005  

# PETG Black geetech:
pressure_advance = 0.07
# PLA Bronze:
pressure_advance = 0.06
# PLA:
#pressure_advance = 0.035  
# ABS:
#pressure_advance = 0.07  

######################################################################
## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: SB2040:EXT_UART
run_current: 0.5  #  Ne pas aller plus haut que 0.300 avec le moteur moon
interpolate: True # False si microsteps = 64
#stealthchop_threshold: 0 
#tx_pin: PC10
#uart_address: 3