[filament_switch_sensor Filament]
switch_pin: PB14
pause_on_runout: True
#  Lorsqu'il est défini sur True, une PAUSE s'exécutera immédiatement après un runout
#  est détecté. Notez que si pause_on_runout vaut False et que
#  runout_gcode est omis, la détection de runout est désactivée. 
#  Défaut est vrai.

runout_gcode:
  PAUSE
#  Une liste de commandes G-Code à exécuter après un épuisement du filament est
#  détecté. Voir docs/Command_Templates.md pour le format G-Code. 
#  Si pause_on_runout est défini sur True, ce G-Code s'exécutera après le
#  PAUSE est terminée. La valeur par défaut est de ne pas exécuter de commandes G-Code.

#insert_gcode:
#  Une liste de commandes G-Code à exécuter après l'insertion d'un filament
#  détecté. Voir docs/Command_Templates.md pour le format G-Code. 
#  La valeur par défaut est de ne pas exécuter de commandes G-Code, ce qui désactive l'insertion
#  de détection

event_delay: 3.0
#  Le temps minimum en secondes pour retarder entre les événements.
#  Les événements déclenchés pendant cette période seront silencieux et
#  ignoré. La valeur par défaut est de 3 secondes.

pause_delay: 0.5
#  Le temps de retard, en secondes, entre la commande de pause
#  envoi et exécution du runout_gcode. Il peut être utile 
#  d'augmentez ce délai si Klipper présente un comportement de pause étrange.
#  La valeur par défaut est 0,5 seconde.
